/* Hide the default checkbox */
.checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
    border-radius: 5px;
   }
   
   .checkbox {
    // display: block;
    display: flex;
    align-items: center;
    // align-items: flex-start;
    position: relative;
    cursor: pointer;
    font-size: 20px;
    user-select: none;
    border-radius: 5px;
    // box-shadow: 2px 2px 0px rgb(183, 183, 183);
   }
   
   /* Create a custom checkbox */
   .checkmark {
    position: relative;
    top: 0;
    left: 0;
    height: 1em;
    width: 1em;
    background-color: #ccc;
    border-radius: 5px;
   }
   
   /* When the checkbox is checked, add a blue background */
   .checkbox input:checked ~ .checkmark {
    // box-shadow: 2px 2px 0px rgb(183, 183, 183);
    transition: all 0.2s;
    opacity: 1;
    background-image: linear-gradient(45deg, rgb(129, 100, 208) 0%, rgb(145, 158, 253) 100%);
   }
   
   .checkbox input ~ .checkmark {
    transition: all 0.2s;
    opacity: 1;
    // box-shadow: 1px 1px 0px rgb(183, 183, 183);
   }
   
   /* Create the checkmark/indicator (hidden when not checked) */
   .checkmark:after {
    content: "";
    position: absolute;
    opacity: 0;
    transition: all 0.2s;
   }
   
   /* Show the checkmark when checked */
   .checkbox input:checked ~ .checkmark:after {
    opacity: 1;
    transition: all 0.2s;
   }
   
   /* Style the checkmark/indicator */
   .checkbox .checkmark:after {
    left: 0.45em;
    top: 0.25em;
    width: 0.25em;
    height: 0.5em;
    border: solid white;
    border-width: 0 0.15em 0.15em 0;
    transform: rotate(45deg);
   }

   .label-text {
    margin-left: 0.5em;
  }